body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, navbar {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#main-nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

#home { background-color: #3498db; }
#about { background-color: #e74c3c; }
#portfolio { background-color: #35b9ae; }
#contact { background-color: #f39c12; }
.heading{
  background: url("../src/images/waves.gif");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}